@use 'variables';

@mixin telefono {
    @media (min-width: variables.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: variables.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: variables.$desktop) {
        @content;
    }
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}
// Sacar viñetas de la lista
@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}



// @mixin heading($color: blue, $border-radius: false) {
//     text-transform: uppercase;
//     font-size: 2.4rem;
//     color: $color;
//     letter-spacing: 1px;

//     @if $border-radius {
//         border-radius: 1rem;
//     }
// }